/* css reset  */
*{
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}

/* css variables */
:root{
    --navbar-height: 40px;
}

/* home section  */

#home{
    align-items: center;
    justify-content: center;
    display: flex;
    height:50vh;
    flex-direction: column;
    padding: 1px 200px;
}

#home::before{
    content: "";
    background: url('../king.jpg') no-repeat center center/cover;
    position: absolute;
    height: 77%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    top: 0px;
    left: 0px;
    
}

/* utility classes */
.h-primary{
    font-size: 5.8rem;
    padding: 106px;
    /* padding: 10px 10px; */

}
.h-secondary{
    font-size: 1.8rem;
    padding: 12px;
    font-family: sans-serif;
    

}
#home p{
    color: rgb(11, 1, 1);
    /* background-color: rgb(240, 117, 96); */
    font-size: 1.15rem;
    text-align: center;
    opacity: 0.8;
    font-family: 'Rubik Wet Paint', cursive;
    z-index: -1;
}
#home h1{
    font-size: 1.5rem;
    /* color: aliceblue; */
    /* color: rgb(189, 23, 23);
    background-color: aqua; */
    
    opacity: 0.8;
    text-align: center;
    font-family: 'Rubik Puddles', cursive;
    z-index: -1;
}

/* SERVICES */
#services-container{
    padding: 0 100px;

}
#services{
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: small;

}
#services .box{
    
    border: 2px solid brown;
    padding: 3px 100px;
    margin: 3px 6px;
    background-color: rgb(245, 170, 156);
    margin-bottom: 15px;
    border-radius: 20px;
    /* align-items: center;
    display: flex; */

}
#services .box p{
    font-family: 'Bree Serif', serif;

} 
#services .box img{
    align-items: center;
    margin: 10px 10px;
    display: block;
   height: 160px;

}



/* FOOTER */
footer{
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 1rem;

}
